<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>



<ngx-charts-advanced-pie-chart
  [view]="view2"
  [scheme]="colorScheme2"
  [results]="single2"
  [gradient]="gradient2"
  (select)="onSelect2($event)"
  (activate)="onActivate2($event)"
  (deactivate)="onDeactivate2($event)"
  >
</ngx-charts-advanced-pie-chart>



<router-outlet></router-outlet>